@import '~semantic-ui-css/semantic.min.css';

// can add overrides, additional Sass/CSS below...

.cards-table-row {
    cursor: pointer;
    transform: scale(0.98);
    transition: all 0.2s;

    &:hover {
        transform: scale(1.0);
    }

    .ui.input > .buy-field {
        opacity: 1;
        transition: all 0.2s;
        &.disabled {
            opacity: 0 !important;
        }
    }
    .ui.input .icon.button i.large.icons i.corner.plus.icon {
        font-size: 0.65em;
    }

}
